h1 {
  margin-top: 4vw;
  font-size: 4vw;
}
.project {
  margin: 3em 0;
  position: relative;
  width: 100%;
  img {
    height: 80vh;
  }
  p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
  }
  .empty-text {
    color: rgba(255, 255, 255, 0);
    z-index: 3;
    -webkit-text-stroke: 3px rgb(19, 18, 18);
  }
  .filled-text {
    z-index: -100;
  }
}

a:visited {
  color: black;
}
